.app{
    display:flex;
    min-height:100vh;
    background:#f5f7fb;
}

.main-section{
    flex:1;
    display:flex;
    flex-direction:column;
    overflow-x:hidden;
}

.page-content{
    flex:1;
    padding:30px;
}

.sidebar-overlay{
    display:none;
}

@media(max-width:768px){

.sidebar-overlay{
    display:block;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    z-index:999;
}

}